@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/gilroy/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/gilroy/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/gilroy/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("../fonts/gilroy/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/gilroy/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Extrabold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/gilroy/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/gilroy/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/gilroy/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-LightItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Heavy.woff") format("woff"), url("../fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Thin.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/gilroy/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?51ickq#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?51ickq") format("truetype"), url("../fonts/icomoon/icomoon.woff?51ickq") format("woff"), url("../fonts/icomoon/icomoon.svg?51ickq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: "\e904"; }

.icon-profile:before {
  content: "\e906"; }

.icon-arrow:before {
  content: "\e901"; }

.icon-menu:before {
  content: "\e903"; }

.icon-facebook:before {
  content: "\e900"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-play3:before {
  content: "\ea1c"; }

.icon-instagram:before {
  content: "\ea92"; }

* {
  box-sizing: border-box; }

html {
  font: normal 16px/1.5 "Gilroy", sans-serif;
  color: #000E19;
  background: #000; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  font-family: "Gilroy", sans-serif; }

.h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  text-transform: capitalize; }

.h2 {
  font-size: 58px;
  line-height: 1.1;
  font-weight: 800;
  color: inherit;
  text-transform: capitalize; }

.h3 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 800;
  color: inherit;
  text-transform: capitalize; }

.h4 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: inherit;
  text-transform: capitalize; }

.h5 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 650;
  color: inherit;
  text-transform: capitalize; }

.h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000E19; }

.btn {
  display: inline-block;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  transition: all .5s;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.15em;
  text-transform: uppercase; }
  .btn-primary {
    background: #1660FE;
    color: #FFFFFF;
    border-radius: 60px;
    padding: 1rem 2.5rem; }
    .btn-primary:hover {
      background: #FFFFFF;
      color: #1660FE; }
  .btn-white {
    background: #FFFFFF;
    color: #1660FE;
    border-radius: 60px;
    padding: 1rem 2.5rem; }
    .btn-white:hover {
      background: #000;
      color: #FFFFFF; }
  .btn-pure {
    color: #1660FE;
    padding: 1rem 2rem; }

.btn-link {
  transition: all .5s;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1660FE;
  padding: 0;
  cursor: pointer; }

.play-video {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .play-video span {
    margin-right: 1.5rem; }

.underline::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background: #1660FE;
  margin: 2.5rem 0; }

.bright {
  color: #1660FE; }

.section {
  background: transparent no-repeat center center;
  background-size: cover;
  height: 100%;
  min-height: 800px; }
  .section .uk-container {
    position: relative;
    z-index: 2; }

.uk-container {
  box-sizing: border-box; }

.mobile-toggle {
  display: none; }

.play-btn {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  transition: .5s all; }
  .play-btn:hover {
    color: #1660FE; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1520px;
  max-width: 95%;
  padding: 1rem;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  text-transform: capitalize;
  background: linear-gradient(180deg, rgba(15, 19, 22, 0.35) 0%, rgba(15, 19, 22, 0.28) 56.56%, rgba(15, 19, 22, 0.1925) 76.87%, rgba(15, 19, 22, 0) 100%);
  z-index: 100; }
  .navbar .uk-logo {
    max-width: 220px;
    padding: 0; }
  .navbar .uk-navbar-nav > li > a {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize; }
    .navbar .uk-navbar-nav > li > a:hover {
      color: #1660FE; }
  .navbar .btn {
    font-size: 14px;
    line-height: 1;
    padding: 1rem 2rem; }
  .navbar .nav-link {
    margin-right: 2.5rem; }
  .navbar .icon {
    font-size: 2rem;
    color: #1660FE; }

.uk-navbar-nav > li > a {
  color: #FFFFFF; }

.uk-navbar-toggle {
  color: #FFFFFF; }
  .uk-navbar-toggle:hover, .uk-navbar-toggle[aria-expanded=true] {
    color: #1660FE; }

.uk-offcanvas-bar {
  background: #000E19; }
  .uk-offcanvas-bar .uk-nav > li {
    margin-bottom: 1rem;
    padding-left: 1rem; }
    .uk-offcanvas-bar .uk-nav > li.uk-active a {
      color: #1660FE; }
      .uk-offcanvas-bar .uk-nav > li.uk-active a::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #1660FE; }
    .uk-offcanvas-bar .uk-nav > li > a {
      display: inline-block;
      font-weight: 600;
      position: relative; }

.footer {
  background: #0D1A24;
  color: #FFFFFF;
  padding: 5rem 0 0;
  position: relative;
  z-index: 5; }
  .footer .uk-container {
    position: relative;
    z-index: 1; }
  .footer .section-title {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    margin: 1rem 0 1.5rem; }
  .footer .nav-container {
    padding: 0 6rem 0 12rem; }
  .footer-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0; }
    .footer-nav a {
      color: #FFFFFF;
      margin-bottom: 1rem; }
      .footer-nav a b {
        font-size: 22px; }
  .footer .content {
    padding-bottom: 3rem; }
  .footer .logo {
    margin-bottom: 3rem; }
  .footer .subtitle {
    font-size: 24px;
    font-weight: 600; }
  .footer .social {
    margin-top: 4rem; }
    .footer .social-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      color: #1660FE;
      font-weight: 700;
      font-size: 14px;
      font-style: none;
      border-radius: 50%;
      background: rgba(22, 96, 254, 0.15);
      margin-right: 1.5rem; }
  .footer .link {
    color: #FFFFFF;
    margin-left: 3rem; }
  .footer .form {
    margin-top: 1.5rem; }
    .footer .form .btn {
      margin-top: 1.5rem; }
  .footer .copyright {
    padding: 3rem 0;
    font-weight: 600; }
    .footer .copyright .grid {
      display: flex;
      justify-content: space-between; }
  .footer .btn:hover {
    background: #1660FE;
    color: #FFFFFF; }

* {
  box-sizing: border-box; }

.main {
  background: #000;
  height: 100vh;
  color: #FFFFFF;
  position: relative;
  overflow: hidden; }
  .main::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000 url("../images/main/main_bg.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
    z-index: 1; }
  .main .container {
    position: relative;
    z-index: 2;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .main .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    padding-top: 9rem; }
  .main .h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2;
    color: #FFFFFF; }
    .main .h1 span {
      display: block; }
  .main .title {
    width: 100%; }
  .main .logo {
    height: 44px; }
  .main .subtitle {
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    width: 540px;
    margin-left: 50px; }
  .main .btn-wrapper {
    width: 100%;
    margin-top: 3rem;
    margin-left: 50px;
    display: flex;
    align-items: center; }
    .main .btn-wrapper .btn:first-child {
      margin-right: 3rem; }
  .main .video-wrapper {
    margin-top: 4rem;
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: flex-end; }

.how-it-works {
  background: #1660FE url("../images/main/bg-hiw.jpg") no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  padding: 8rem 0;
  min-height: 100vh;
  position: relative;
  z-index: 3; }
  .how-it-works .title {
    text-align: center; }

.choose {
  padding: 10rem 0 15rem;
  background: #000;
  position: relative; }
  .choose .container {
    position: relative;
    z-index: 5; }
  .choose .title {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px; }
    .choose .title p {
      font-size: inherit;
      margin-top: 1.5rem; }
  .choose .choice-grid {
    margin-top: 6rem;
    position: relative;
    z-index: 5; }
  .choose .img-wrapper {
    background: #FFFFFF;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .choose .choice {
    color: #FFFFFF;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2; }
    .choose .choice img {
      max-width: 90%;
      margin: auto; }
    .choose .choice .h6 {
      font-size: 26px;
      font-weight: 700;
      width: 100%;
      color: #FFFFFF;
      max-width: 80%;
      margin: 0 auto;
      padding-top: 2.5rem; }

.products {
  background-color: #FFFFFF;
  padding: 10rem 0 14rem;
  position: relative;
  z-index: 2; }
  .products .underline::after {
    margin: 2rem 0; }
  .products .h4 {
    font-size: 38px; }
  .products .img-wrapper {
    position: relative; }
    .products .img-wrapper .play {
      position: absolute;
      bottom: -2rem;
      right: -4rem;
      height: 5rem;
      cursor: pointer; }
  .products .product-img {
    height: 500px; }
  .products .content {
    max-width: 460px;
    margin: 0 auto; }
  .products .btn-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end; }

.testimonials {
  padding: 6rem 0 10rem;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2; }
  .testimonials .h2 {
    font-weight: 800; }
  .testimonials .subtitle {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    position: relative;
    display: flex;
    align-items: center;
    opacity: .85; }
    .testimonials .subtitle::before {
      content: "";
      display: inline-block;
      width: 100px;
      height: 5px;
      background: #1660FE;
      margin: 1.5rem 4rem 1.5rem 0; }
  .testimonials .slider {
    margin-top: 3.4rem;
    position: relative;
    z-index: 2; }
    .testimonials .slider .uk-slider-items {
      padding: 0 5rem; }
    .testimonials .slider li {
      opacity: .3;
      transition: opacity .3s; }
      .testimonials .slider li.uk-active {
        opacity: 1; }
    .testimonials .slider .video-cover {
      position: relative;
      margin-bottom: 1.5rem; }
      .testimonials .slider .video-cover .video-play {
        font-weight: 500;
        color: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.25rem .5rem;
        cursor: pointer;
        cursor: pointer;
        display: flex;
        align-items: center; }
        .testimonials .slider .video-cover .video-play::before {
          content: "";
          display: inline-block;
          height: 5rem;
          width: 5rem;
          background: url(../images/icons/play-c.svg) no-repeat center center;
          background-size: contain; }
    .testimonials .slider .author {
      font-size: 20px;
      font-weight: 600;
      color: #000E19;
      margin-bottom: 2rem;
      position: relative; }
      .testimonials .slider .author::after {
        content: "";
        display: block;
        width: 70px;
        height: 5px;
        background: #1660FE;
        margin: 1.5rem 0 1rem; }
    .testimonials .slider .quote {
      font-size: 16px;
      line-height: 1.5;
      color: #000E19;
      position: relative; }
      .testimonials .slider .quote p {
        max-width: 84%;
        margin: 0 auto; }
      .testimonials .slider .quote::before, .testimonials .slider .quote::after {
        content: '"';
        font-size: 72px;
        font-style: italic;
        height: 25px;
        line-height: .7;
        color: #1660FE;
        position: absolute;
        opacity: 0; }
      .testimonials .slider .quote::after {
        bottom: -.5rem;
        right: 1rem; }

.about {
  background: #000;
  position: relative;
  color: #FFFFFF;
  padding: 2rem 0; }
  .about::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0; }
  .about::after {
    top: -1px;
    background: #FFFFFF;
    z-index: 1; }
  .about .container {
    background: #1C6CE8;
    max-width: 90%;
    width: 1620px;
    margin: 0 auto;
    padding: 10rem 5rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 3; }
    .about .container::after {
      content: "";
      background: url("../images/main/bg-device.png") no-repeat center center;
      background-size: cover;
      display: block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2; }
    .about .container::before {
      content: "";
      display: block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(28, 108, 232, 0) 0%, rgba(28, 108, 232, 0.367708) 63.33%, #1C6CE8 100%);
      position: absolute;
      z-index: 2; }
    .about .container .uk-container {
      position: relative;
      z-index: 3; }
    .about .container .polygon {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      opacity: .6;
      z-index: 1; }
    .about .container .underline::after {
      background-color: #FFFFFF; }
  .about .title {
    font-size: 46px;
    font-weight: 700;
    text-transform: none;
    padding-left: 5rem; }
  .about .text {
    padding-top: 28%;
    padding-left: 8rem;
    max-width: 560px;
    font-size: 18px; }
    .about .text p {
      font-size: inherit; }
  .about .btn-wrapper {
    margin-top: 3rem; }

.technology {
  background: #000E19 url("../images/main/bg-technology.jpg") no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  padding: 10rem;
  position: relative;
  overflow-x: hidden; }
  .technology .container {
    position: relative;
    z-index: 2; }
  .technology-img {
    width: 1200px;
    max-width: 80%;
    position: relative;
    left: 25%; }
  .technology .content {
    margin-top: -10rem; }
  .technology .text {
    display: flex;
    align-items: flex-start;
    font-size: 18px; }
    .technology .text p {
      font-size: inherit;
      line-height: 1.6;
      max-width: 480px;
      margin: 0 20px 0 50px; }

.certified {
  background: #000;
  position: relative;
  color: #FFFFFF;
  padding: 8rem 0; }
  .certified::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -1px;
    background: #FFFFFF;
    z-index: 1; }
  .certified .container {
    background: url("../images/main/bg-certified.jpg") no-repeat center center;
    background-size: cover;
    max-width: 86%;
    width: 1620px;
    margin: 0 auto;
    padding: 12rem 5rem;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
    .certified .container .underline::after {
      background-color: #FFFFFF; }
  .certified .title {
    font-weight: 700; }
  .certified .text {
    padding-top: 30%;
    padding-left: 10%;
    width: 540px;
    max-width: 100%;
    font-size: 18px; }
    .certified .text p {
      font-size: inherit; }

.doctors {
  padding: 0 0 2rem;
  background-color: #FFFFFF;
  color: #000E19;
  position: relative;
  z-index: 2; }
  .doctors .h2 {
    font-weight: 800; }
  .doctors .title span {
    display: inline-block; }
  .doctors .subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: none;
    max-width: 70%; }
  .doctors .grid {
    margin-top: 5rem; }
  .doctors .item {
    margin-bottom: 4rem; }
  .doctors .name {
    font-size: 20px;
    font-weight: 700;
    margin: 1.25rem 0; }
  .doctors .info {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    padding-right: 1rem; }
    .doctors .info::before {
      content: "";
      display: inline-block;
      min-width: 50px;
      height: 4px;
      background: #1660FE;
      margin: .5rem 2rem .5rem 0; }
    .doctors .info p {
      display: inline-block; }
  .doctors .more {
    color: #1660FE;
    font-weight: 500;
    text-align: right;
    display: block; }

.collaborating {
  position: relative;
  background: #000;
  color: #FFFFFF;
  padding: 10rem 0; }
  .collaborating:after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background: #FFFFFF;
    top: -1px;
    z-index: 1; }
  .collaborating .container {
    background: url("../images/main/bg-colab.jpg") no-repeat center center;
    background-size: cover;
    max-width: 90%;
    width: 1620px;
    margin: 0 auto;
    padding: 12rem 5rem 14rem;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
    .collaborating .container .underline::after {
      background-color: #FFFFFF; }
  .collaborating .title {
    font-size: 46px;
    font-weight: 700;
    text-transform: none;
    padding-bottom: 8rem; }
  .collaborating .text {
    padding-top: 22%;
    padding-left: 8rem;
    max-width: 600px;
    font-size: 20px; }
    .collaborating .text p {
      font-size: inherit; }

.blog {
  background: #000;
  color: #FFFFFF;
  padding: 0 0 10rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden; }
  .blog .container {
    position: relative;
    z-index: 1; }
  .blog .bright {
    display: inline-block; }
  .blog .h5 {
    font-weight: 700; }
  .blog .item {
    margin-bottom: 5rem; }
    .blog .item:nth-child(2n+1) {
      margin-top: 5rem; }
    .blog .item:first-child {
      margin-top: 8rem; }
    .blog .item .post {
      max-width: 580px; }
    .blog .item .post-title {
      margin-top: 2rem; }
    .blog .item .post-descr {
      opacity: 0.8;
      line-height: 1.6; }
  .blog .link {
    width: 100%;
    text-align: right;
    font-weight: 18px;
    font-weight: 500;
    margin-top: 1rem;
    padding-right: 1rem; }

.form .input {
  width: 100%;
  border: none;
  outline: none;
  background: #FFFFFF;
  color: #000E19;
  border-radius: 60px;
  padding: 1rem 2rem; }

.choose:before,
.blog:before,
.technology:before {
  background: #000;
  opacity: .7;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden; }
  .bg video {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .6;
    z-index: 1; }
    .bg video.bg-1 {
      left: -50%; }
    .bg video.bg-2 {
      right: -40%;
      left: auto; }
  .bg .polygon {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    z-index: 1;
    opacity: 0;
    display: none; }
  .bg .bg-smoke {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%; }
    .bg .bg-smoke:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #000E19;
      opacity: 0;
      z-index: 1; }
  .bg.scroll .bg-smoke:after {
    opacity: .85; }

.mt-8 {
  margin-top: 8rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-0 {
  margin-top: 0 !important; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-3 {
  margin-bottom: 3rem; }

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-0 {
  padding-top: 0 !important; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-3 {
  padding-bottom: 3rem !important; }

@media screen and (min-width: 1440px) {
  .uk-container {
    max-width: 1360px; } }

@media screen and (max-width: 1600px) {
  .h2 {
    font-size: 52px; }
  .h5 {
    font-size: 28px; }
  .text {
    font-size: 14px; }
  .main .h1 {
    font-size: 64px; }
  .main .btn-wrapper {
    margin-top: 3rem; }
  .main .content {
    padding-top: 15%; }
  .uk-container {
    width: 80%; }
  .products .h4 {
    font-size: 36px; }
  .about .title {
    padding: 0; }
  .choose {
    padding-top: 7rem; }
    .choose .content {
      max-width: 100%;
      margin: 0 auto; }
    .choose .choice-grid {
      margin-top: 4rem; }
    .choose .choice .h6 {
      font-size: 20px;
      padding-top: 1.5rem; }
    .choose .img-wrapper {
      display: flex;
      align-items: center;
      height: 250px; }
      .choose .img-wrapper img {
        max-height: 100%; }
    .choose .title {
      font-size: 20px; }
  .certified {
    padding-top: 0; }
    .certified .title {
      font-size: 48px; }
    .certified .container {
      padding-top: 10rem;
      padding-bottom: 10rem; }
    .certified .uk-container {
      width: 100%; }
    .certified .text {
      font-size: 16px;
      padding-left: 2rem;
      width: 440px; }
  .collaborating {
    padding-top: 5rem; }
    .collaborating .uk-container {
      width: 100%; }
    .collaborating .title {
      font-size: 42px; }
    .collaborating .text {
      padding-top: 20%;
      padding-left: 4rem;
      font-size: 16px;
      max-width: 440px; }
  .technology .uk-container {
    width: 100%; }
  .technology .technology-img {
    position: relative;
    top: -4rem;
    right: -18%; }
  .technology .text {
    font-size: 16px; }
    .technology .text p {
      width: 400px; }
  .blog .h5 {
    font-size: 24px; }
  .blog .item {
    margin-bottom: 3rem; }
    .blog .item .post {
      max-width: 90%; }
  .underline:after {
    margin: 1.85rem 0; }
  .doctors .subtitle {
    font-size: 15px;
    width: 670px;
    max-width: 100%; }
  .testimonials {
    padding-bottom: 7rem; }
  .navbar .btn {
    font-size: 13px;
    padding: 1rem 1.5rem; }
  .navbar .uk-logo {
    max-width: 150px; }
  .navbar .uk-navbar-nav > li > a {
    font-size: 1rem; }
  .navbar .nav-link {
    margin-right: 1.5rem;
    line-height: 1; }
  .navbar .icon {
    font-size: 1.5rem; } }

@media screen and (max-width: 1440px) {
  .main .content {
    padding-top: 12%; }
  .main .video-wrapper {
    max-width: 520px; }
  .main .play {
    height: 70px; }
    .main .play img {
      height: 100%; }
  .h2 {
    font-size: 48px; }
  .how-it-works {
    padding-top: 5rem; }
  .certified .container {
    padding: 8rem 5rem; }
  .certified .title {
    font-size: 42px; }
  .collaborating .container {
    padding-top: 9rem;
    padding-bottom: 10rem; }
  .products {
    padding-bottom: 10rem; }
    .products .content {
      max-width: 320px; }
    .products .h4 {
      font-size: 32px; }
    .products .underline::after {
      margin: 1.25rem 0 1.5rem; }
    .products .img-wrapper {
      text-align: center; }
      .products .img-wrapper .play {
        height: 60px;
        width: 60px;
        right: -1.5rem; }
    .products .product-img {
      height: 320px;
      width: auto; }
  .testimonials .slider {
    margin-top: 2rem; }
  .technology {
    padding: 10rem 0; }
    .technology .uk-container {
      width: 90%; }
  .footer .uk-container {
    width: 95%; }
  .footer .logo {
    width: 240px;
    max-width: 100%; }
  .footer .uk-grid {
    margin: 0 auto; }
    .footer .uk-grid > * {
      padding-left: 0; }
  .footer .nav-container {
    padding: 0 1rem; }
  .footer .subtitle {
    font-size: 20px; }
  .footer .social {
    width: 180px;
    max-width: 100%;
    display: flex;
    justify-content: space-between; }
  .footer .social-link {
    margin-right: 0; }
  .footer-nav {
    width: 200px;
    max-width: 100%;
    margin: 0 auto; }
    .footer-nav:first-child {
      display: none; } }

@media screen and (max-width: 1199px) and (min-width: 639px) {
  .testimonials .slider .uk-slider-items {
    padding: 0; } }

@media screen and (max-width: 1199px) {
  .h5 {
    font-size: 26px; }
  .h2 {
    font-size: 44px; }
  .subtitle {
    font-size: 16px; }
  .uk-container {
    width: 95%;
    max-width: 100%;
    margin: 0 auto; }
  .section {
    min-height: 700px; }
  .navbar {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar .btn {
      display: none; }
  .main .h1 {
    font-size: 56px; }
  .main .uk-container {
    width: 85%; }
  .main .logo {
    max-width: 300px; }
  .main .subtitle {
    font-size: 16px;
    width: 380px; }
  .main .btn-wrapper {
    margin-top: 2rem; }
  .main .video-wrapper {
    margin-top: 3rem; }
  .about .container {
    padding: 6rem 3rem 7rem; }
  .about .uk-grid {
    margin: 0 auto; }
  .about .title {
    font-size: 38px; }
  .testimonials .subtitle {
    font-size: 15px;
    margin-top: 1rem;
    opacity: 1; }
    .testimonials .subtitle::before {
      width: 80px;
      margin-right: 2.5rem; }
  .certified {
    padding-bottom: 5rem; }
    .certified .container {
      padding: 9rem 3rem 14rem;
      max-width: 94%; }
    .certified .uk-grid {
      margin-left: 0; }
    .certified .text {
      font-size: 14px;
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: start; }
      .certified .text p {
        width: 380px;
        margin-top: 0; }
        .certified .text p:first-child {
          margin-right: 5rem; }
  .btn-wrapper {
    margin-top: 2rem; }
  .btn-primary {
    font-size: 14px;
    line-height: 1;
    padding: 1rem 1.5rem; }
  .btn-link {
    font-size: 14px; }
  .play-video {
    font-size: 15px; }
  .choose {
    min-height: auto;
    padding: 5rem 0 8rem; }
    .choose .polygon {
      display: none; }
    .choose .content {
      max-width: 100%; }
    .choose .img-wrapper {
      height: 220px; }
    .choose .choice .h6 {
      font-size: 18px;
      padding-top: 1rem; }
    .choose .choice-grid {
      margin-top: 2.5rem; }
  .about .text {
    font-size: 16px;
    padding-left: 6rem; }
  .products {
    padding: 6rem 0 8rem; }
  .collaborating {
    padding-bottom: 4rem; }
    .collaborating .container {
      padding: 10rem 5rem;
      min-height: 500px; }
    .collaborating .title {
      font-size: 28px; }
  .doctors .grid {
    margin-top: 3rem; }
  .doctors .name {
    font-size: 16px;
    margin-bottom: 0; }
  .doctors .info {
    font-size: 14px;
    display: block; }
    .doctors .info::before {
      width: 40px;
      margin: .75rem 0; }
  .doctors .uk-grid {
    margin-left: -30px; }
  .doctors .more {
    font-size: 14px; }
  .blog .uk-grid {
    margin-left: -30px; }
  .blog .title {
    position: relative;
    top: 4rem; } }

@media screen and (max-width: 1099px) {
  .h5 {
    font-size: 26px; }
  .h2 {
    font-size: 38px; }
  .section {
    min-height: 700px; }
  .main {
    height: auto;
    background-position-x: 58%; }
    .main .h1 {
      font-size: 36px; }
    .main .logo {
      max-width: 200px; }
    .main .content {
      max-width: 100%;
      padding-top: 10rem;
      padding-bottom: 4rem; }
    .main .subtitle {
      max-width: 320px; }
    .main .video-wrapper {
      width: 320px;
      margin-top: 3rem; }
    .main .play {
      height: 60px;
      width: 60px; }
    .main .btn-wrapper {
      margin-top: 2rem; }
  .navbar {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar .btn {
      display: none; }
  .about .container {
    padding: 6rem 1rem 7rem;
    max-width: 100%; }
  .about .uk-grid {
    margin: 0 auto; }
  .about .title {
    font-size: 38px; }
  .testimonials .subtitle {
    font-size: 15px;
    margin-top: 1rem;
    opacity: 1; }
    .testimonials .subtitle::before {
      width: 80px;
      margin-right: 2.5rem; }
  .certified .container {
    padding: 7rem 1rem 11rem 0; }
  .collaborating {
    padding-bottom: 4rem; }
    .collaborating .container {
      padding: 8rem 2rem;
      min-height: 500px; }
    .collaborating .title {
      font-size: 28px; } }

@media screen and (max-width: 959px) {
  .navbar .uk-logo {
    max-width: 130px; }
  .navbar .uk-navbar-nav > li > a {
    font-size: 15px;
    padding: 0 10px; }
  .navbar .navbar-container {
    display: flex;
    justify-content: space-between; }
  .navbar .uk-navbar-center:not(:only-child) {
    position: initial;
    transform: none; }
  .navbar .uk-navbar-right {
    margin-left: 0; }
  .h2 {
    font-size: 36px; }
  .how-it-works {
    padding: 4rem 0;
    min-height: 600px; }
  .about {
    padding: 0; }
    .about .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 6rem 0; }
    .about .grid {
      justify-content: flex-end; }
    .about .text {
      padding-left: 0;
      width: 310px;
      max-width: 100%; }
  .choose {
    padding: 5rem 0; }
    .choose .choice-grid {
      justify-content: center; }
    .choose .choice {
      margin-bottom: 3rem; }
    .choose::after {
      height: 65%; }
  .technology {
    padding: 5rem 0; }
    .technology .text {
      display: block; }
      .technology .text p {
        width: 100%;
        max-width: 100%;
        margin: 0 0 1rem; }
    .technology .technology-img {
      max-width: 90%;
      position: static;
      margin: 0 auto 3rem; }
    .technology .content {
      max-width: 90%;
      margin: 0 auto; }
  .certified .container {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .certified .text {
    display: block; }
    .certified .text p {
      width: 100%; }
      .certified .text p:first-child {
        margin-right: 0; }
  .collaborating {
    padding: 0;
    min-height: auto; }
    .collaborating .title {
      width: 400px;
      max-width: 100%;
      padding: 0 0 1rem;
      margin: 0 auto; }
      .collaborating .title-container {
        padding-left: 0; }
    .collaborating .text {
      width: 400px;
      padding-left: 0;
      padding-top: 0; }
    .collaborating .uk-grid {
      justify-content: center; }
  .certified {
    min-height: initial;
    padding-bottom: 7rem; }
    .certified .container {
      min-height: initial; }
    .certified .text {
      padding-top: 1rem;
      padding-left: 5rem;
      width: 100%; }
    .certified .uk-container {
      width: 500px; }
      .certified .uk-container .text {
        padding-left: 0; }
  .blog {
    padding-top: 5rem; }
    .blog .title {
      top: 0;
      margin-bottom: 4rem;
      text-align: center; }
      .blog .title:after {
        margin: 1.5rem auto; }
    .blog .item {
      margin: 0 auto 5rem;
      width: 500px;
      max-width: 100%; }
      .blog .item .post {
        max-width: 100%; }
      .blog .item:first-child {
        margin-top: 2rem; }
      .blog .item:nth-child(2n+1) {
        margin-top: 0; }
  .footer .content {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center; }
  .footer .uk-grid > * {
    margin-bottom: 2rem; }
  .footer .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer .logo {
    margin-bottom: 2rem; }
  .footer .social {
    margin-top: 2rem; } }

@media screen and (max-width: 739px) {
  .mobile-toggle {
    display: block; }
  .how-it-works.section {
    min-height: 500px; }
  .hidden-m {
    display: none; }
  .navbar .uk-logo {
    max-width: 125px; }
  .navbar .nav-link {
    margin-right: 5px; }
    .navbar .nav-link:first-child {
      margin-right: 1rem; }
  .bg-smoke {
    display: none; }
  .certified .uk-grid {
    margin-left: -30px; }
  .testimonials .slider .author {
    font-size: 18px;
    margin-bottom: 1.5rem; }
    .testimonials .slider .author::after {
      width: 50px;
      margin: 1rem 0 0; }
  .testimonials .slider .quote p {
    font-size: 15px; }
  .testimonials .slider .video-cover .video-play {
    padding: 0; } }

@media screen and (max-width: 639px) {
  .products {
    padding: 5rem 0; }
    .products .product:not(:last-child) {
      margin-bottom: 5rem; }
    .products .product-img {
      height: auto;
      max-width: 90%; }
    .products .img-wrapper .play {
      border-radius: 50%;
      overflow-x: hidden;
      background: #FFFFFF;
      right: 0;
      bottom: 0; }
  .how-it-works {
    background: #1C6CE8 url("../images/main/bg-hw-mobile.png") no-repeat bottom center;
    background-size: contain; }
  .choose {
    padding-top: 5rem;
    background: #000E19; }
    .choose .choice .img-wrapper {
      border-radius: 5px;
      overflow: hidden; }
    .choose .choice .h6 {
      font-size: 15px;
      font-weight: 600;
      max-width: 100%; }
    .choose .title p {
      font-size: 1rem; }
    .choose .content {
      max-width: 320px;
      margin: 0 auto; }
    .choose .polygon {
      display: none; }
    .choose::after, .choose:before {
      content: none; }
    .choose .img-wrapper {
      height: auto; }
  .about {
    background: #1C6CE8;
    min-height: initial; }
    .about .h5 {
      font-size: 22px; }
    .about .title {
      font-size: 32px; }
    .about .container {
      padding: 5rem 2rem 7rem;
      background-image: none; }
      .about .container::after {
        content: none; }
    .about .uk-container {
      max-width: 320px;
      margin: 0 auto; }
    .about .text,
    .about .title {
      max-width: 100%;
      padding: 0; }
    .about::before {
      content: none; }
  .doctors .grid {
    width: 380px;
    max-width: 100%;
    margin: 3rem auto 0; }
  .doctors .item {
    padding: 0; }
  .certified {
    padding-bottom: 4rem; }
    .certified .container {
      background-size: auto 120%;
      background-position: bottom right;
      padding-top: 5rem; }
    .certified .title {
      font-size: 32px; }
  .collaborating .title {
    font-size: 24px; }
  .collaborating .container {
    background-position: bottom right;
    background-size: auto 120%;
    max-width: 100%;
    padding: 5rem 3rem; }
  .testimonials {
    padding: 5rem 0 3rem; }
    .testimonials .slider {
      margin-top: 2rem; }
    .testimonials .subtitle {
      letter-spacing: normal;
      text-transform: none;
      font-weight: normal;
      margin-bottom: 0; }
      .testimonials .subtitle::before {
        content: none; }
  .blog {
    padding-bottom: 5rem; }
    .blog .title {
      top: 0; }
  .footer .copyright {
    display: none; } }

@media screen and (max-width: 520px) {
  .h2 {
    font-size: 32px; }
  .about .container {
    padding: 4rem 1rem; }
  .about .title {
    margin-bottom: 1rem; }
  .about .uk-grid {
    margin-left: 0; }
  .products .h4 {
    font-size: 24px; }
  .blog .h5 {
    font-size: 18px;
    line-height: 1.4; }
  .blog .title {
    margin-bottom: 3rem; }
    .blog .title:after {
      content: none; }
  .blog .item {
    margin-bottom: 3rem; }
    .blog .item .post-title {
      margin-top: 1rem; }
  .section {
    min-height: auto; }
  .main .container {
    min-height: 100vh; }
  .main .subtitle {
    padding-left: 0;
    margin-left: 0; }
  .main .btn-wrapper {
    margin: 2rem 0 0; }
    .main .btn-wrapper .btn:first-child {
      margin-right: 1.5rem; }
  .main .btn {
    font-size: 12px; }
  .testimonials {
    padding: 5rem 0; }
    .testimonials .slider .uk-slider-items {
      padding: 0 1rem; }
  .certified .title {
    font-size: 28px; }
  .certified .underline::after {
    margin-top: 1.5rem; }
  .certified .container {
    padding: 3rem 1rem;
    max-width: 100%; }
  .certified .uk-container {
    max-width: 90%; }
  .collaborating .uk-grid {
    margin: 0; }
  .collaborating .container {
    padding: 7rem 1.5rem; }
  .doctors .name {
    margin: 1rem 0; }
  .doctors .info {
    font-size: 14px;
    padding: 0; }
    .doctors .info::before {
      content: none; }
  .underline:after {
    width: 60px;
    margin: 1rem 0; } }

/*# sourceMappingURL=styles.css.map */
