.cart{
  background: $color-white;
  padding: 6rem 0 12rem;
  


  .title{
    text-align: center;
  }
  
  .img{
    height: 130px;
  }

  .table{
    margin-top: 4rem;
    text-align: left;

    &-header{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;      
    }

    .row{
      display: flex;
      align-items: center;
      padding: 2rem 0;
      margin: 0;
      border-bottom: 1px solid rgba($color-bg, .2);

      div:first-child{
        padding-left: 0;
      }
    }

    .title{
      font-size: 24px;
      font-weight: 600;
      text-align: left;
    }

    .price{
      font-size: 20px;
      font-weight: 600;
      text-align: right;
      display: block;
    }

    .input{
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      width: 4rem;
      height: 3rem;
      margin: auto  0 auto auto;
      display: block;
      outline: none;
      padding: 1rem 0;
    }
  }

  .total{
    margin-top: 1rem;
    
    &-wrapper{
      display: flex;
      justify-content: right;
      margin-top: 3rem;
    }

    .subtotal{
      font-size: 24px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    p{
      font-size: 18px;
      font-weight: 300;
    }

    .btn{
      width: 100%;
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 1199px) {
  .cart{
    padding-top: 3rem;
    
    .title{
      font-size: 36px;
    }

    .table{
      min-width: 580px;

      &-wrapper{
        overflow-x: scroll;
      }
      
      .title{
        font-size: 18px;
        margin-bottom: .5rem;
      }

      .img{
        max-width: 100%;
        height: auto;
      }

      &-header{
        font-size: 14px;
      }

      .price{
        font-size: 16px;
      }

      .input{
        padding: 0;
        height: 2.5rem;
      }

      .row{
        padding: 1rem 0;
        
        div{
          width: calc(50%/3);
          
          &:first-child{
            text-align: center;
            width: 20%;
            padding: 0 1rem;
          }

          &:nth-child(2){
            width: 30%;
            padding-left: 1rem;
          }
        }        
      }
    }
  }
}


@media screen and (max-width: 639px) {
  .cart{
    padding-top: 2rem;
    
    .title{
      margin-top: 1rem;
      font-size: 26px;
    }

    .table{
      margin-top: 0;

      p{
        margin: 0 0 .5rem;
      }
    }

    .total-wrapper{
      justify-content: flex-start;
      margin-top: 1rem;
    }

    .total{
      width: 100%;
      max-width: 320px;
      margin: 1.5rem auto;
      
      .subtotal{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}