.case{
    padding-bottom: 10rem 0 0;
    color: $color-title;

    &__header{
        padding: 10rem 0 15rem;
    }

    &__title{
        font-size: 1.25rem;
        font-weight: 600;        
        color: $color-title;
        margin-bottom: 2rem;
        color: inherit;
    }

    &__subtitle{
        color: $color-text;
        font-size: 6rem;
        letter-spacing: -0.5px;
        line-height: 1.05;
        font-weight: 500;
        cursor: pointer;

        &.underline{
            &::after{
                content: "";
                display: block;
                bottom: 2px;
                border-color: $color-title;
            }
        }
    }

    &__cover{
        min-height: 700px;
        height: 100vh;
        background-attachment: fixed;

        &.bg-static{
            background-attachment: local;
        }
    }

    &__descr{
        padding: 17rem 0;

        &-title{
            max-width: 400px;
        }

        .text-md{
            max-width: 90%;
        }
    }

    .portfolio__projects{
        padding: 12rem 0 0;
        margin-bottom: 8rem;

        &.projects__space{
            padding: 0 0 20rem;
            margin-bottom: 20rem;
        }  
    }
    

    .portfolio__project{
        height: 100%;
        margin-bottom: .5rem;
    }
}

.next-case{
    padding: 20rem 0 22rem;
    min-height: 80vh;
    display: flex;
    align-self: center;
    justify-content: center;
}
