*{
    box-sizing: border-box;
}

html{
    font: normal 16px/1.5 $font-main;
    color: $color-text;
    background: $color-bg;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p{
    font-family: $font-main;
}

.h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    text-transform: capitalize;
}

.h2{
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: inherit;
    text-transform: capitalize;
}

.h3{
    font-size: 56px;
    line-height: 1.1;
    font-weight: 800;
    color: inherit;
    text-transform: capitalize;
}

.h4{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: inherit;
    text-transform: capitalize;
}

.h5{
    font-size: 32px;
    line-height: 1.3;
    font-weight: 650;
    color: inherit;
    text-transform: capitalize;
}

.h6{
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-text;
}

.btn{
    display: inline-block;
    font-family: $font-main;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
    font-weight: bolder;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: all .5s;
    cursor: pointer;

    &-bright{
        background: $color-primary;
        color: $color-white;
        border-radius: 60px;
        padding: 1rem 2.5rem;

        &:hover{
            color: $color-white;
            background: lighten($color-primary, 10%);
        }
    }

    &-primary{
        background: $color-primary;
        color: $color-white;
        border-radius: 60px;
        padding: 1rem 2.5rem;

        &:hover{
            background: $color-white;
            color: $color-primary;
        }
    }

    &-white{
        background: $color-white;
        color: $color-primary;
        border-radius: 60px;
        padding: 1rem 2.5rem;

        &:hover{
            background: $color-bg;
            color: $color-white;
        }
    }

    &-dark{
        background: $color-bg;
        color: $color-white;

        &:hover{
            background: $color-bg;
            color: $color-white;
        }
    }

    &-outline{
        border: 1px solid $color-bg;
        background: $color-white;
        color: $color-bg;
    }

    &-pure{
        color: $color-primary;
        padding: 1rem 2rem;
    }
}

.btn-link {
    transition: all .5s;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $color-primary;
    padding: 0;
    cursor: pointer;
}

.play-btn{
    display: flex;
    align-items: center;
    color: $color-white;
    transition: .5s all;

    &:hover{
        color: $color-primary;
    }
}
 

.play-btn {
    span{
        display: inline-block;
        margin-right: 1rem;
    }

    &.white{
        .outer_circle {
            stroke-width: 2;
        }
    }
    
    .inner_circle{
        stroke-width: 2;
        opacity: .3;
    }
    
    .outer_circle {
        stroke-width: 3;
        stroke-dasharray:  410; 
        stroke-dashoffset: -235; ;
        stroke-linecap: square;
        transition: all .4s ease-out;
    }

    &:hover {
        .outer_circle {
            stroke-dashoffset: 0;
            transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
        }

        .play{
            transition:fill .4s .3s ease-out;
        }
    }
}


.icon-play{ 
    background: $color-primary;
    height: 46px;
    width: 46px;
    display: block;
    line-height: 46px;
    border-radius: 50%;
    text-align: center;
    position: relative;

    &::before{
        position: relative;
        z-index: 1;
    }

    &::after{
        content: "";
        height: 150%;
        width: 150%;
        display: block;
        background: $color-primary;
        border-radius: 50%;
        opacity: .2;
        position: absolute;
        top: -25%;
        left: -25%;
        margin: auto;
        z-index: 0;
    }

     position: relative;

    &::before{
        color: $color-white;
    }

    span{
        display: block;
        margin: auto !important;
        height: inherit;
        width: inherit;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid $color-primary;
        transform: scale(1);
        opacity: 1;

        &::before{
            content: "";
            display: block;
            width: calc(inherit -10px);
            height: calc(inherit -10px);
            border-radius: 50%;
            border: 1px solid $color-primary;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }
    }

    &:hover{
        span{
            border-color: $color-white;
            transform: scale(1.5);
            opacity: 0;
            transition: all .8s;
            
            &::before{
                border-color: $color-white;
                transform: scale(1.8);
                transition: all 2s;
            }
        }
    }


    &-lg{
        height: 70px;
        width: 70px;
        line-height: 70px;

        &::before{
            font-size: 20px;
        }
    }
}


.play-video{
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    span {
        margin-right: 1.5rem;
    }
}

.underline{
    &::after{
        content: "";
        display: block;
        width: 80px;
        height: 5px;
        background: $color-primary;
        margin: 2.5rem 0;
    }
}

.bright{
    color: $color-primary;
}

.section{
    background: transparent no-repeat center center;
    background-size: cover;
    height: 100%;
    min-height: 800px;

    .uk-container{
        position: relative;
        z-index: 2;
    }
}

.uk-container{
    box-sizing: border-box;
}

.mobile-toggle{
    display: none;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.back{
    color: $color-bg;
    font-weight: 500;

    .icon{
       margin-right: 10px;
    }

    &:hover{
        color: $color-primary;
    }
}