.footer{
    background: darken($color-bg, 2%);
    color: $color-white;
    padding: 5rem 0 0;
    position: relative;
    z-index: 5;

    .form{
        .input{
            background: $color-white;
            color: $color-text;

            &::-webkit-input-placeholder{
                color: $color-text;
            }

            &::-moz-placeholder{
                color: $color-text;
            }

            &:-ms-input-placeholder{
                color: $color-text;
            }

            &::-ms-input-placeholder{
                color: $color-text;
            }

            &::placeholder{
                color: $color-text;
            }
        }
    }

    .uk-container{
        position: relative;
        z-index: 1;
    }

    .section-title{
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 1rem;
    }
    
    .nav-container{
        padding: 0 6rem 0 12rem;
    }

    &-nav{
        display: flex;
        flex-direction: column;
        padding-left: 0;

        a{
            color: $color-white;
            margin-bottom: 1rem;

            b {
                font-size: 22px;
            }
        }
    }

    .content{
        padding: 0 3rem 3rem;
    }
    
    .logo{
        margin-bottom: 3rem;
    }

    .subtitle{
        font-size: 24px;
        font-weight: 600;
    }

    .social{
        margin-top: 4rem;

        &-link{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            color: $color-primary;
            font-weight: 700;
            font-size: 14px;
            font-style: none;
            border-radius: 50%;
            background: rgba($color-primary, .15);
            margin-right: 1.5rem;
        }
    }

    .link{
        color: $color-white;
        margin-left: 3rem;
    }

    .form{
        margin-top: 1.5rem;

        .btn{
            margin-top: 1.5rem;
        }
    }

    .copyright{
        padding: 3rem 0;
        font-weight: 300;

        .content{
            padding: 0;
            
            p{
                opacity: .5;
            }
        }

        .grid{
            display: flex;
            justify-content: space-between;
        }
    }

    .btn{
        &:hover{
            background: $color-primary;
            color: $color-white;
        }
    }
}

.guarantee{
    padding-bottom: 1rem;
    color: $color-white;

    .wrapper{
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .img{
        margin-right: 1rem;
        width: 8rem;
        text-align: center;
    }

    .text{
        font-size: 16px;
        margin-top: 1.5rem;
    }
}


@media screen and (max-width: 639px){
    .guarantee{
        .wrapper{
            flex-direction: column;
            justify-content: center;
        }

        .text{
            margin-top: 0;
            text-align: center;
        }
    }

}