
@media screen and (min-width: 1441px) {
    .uk-container {
        max-width: 1360px;
    }
}

@media screen and (max-width: 1600px) {
    .h2{
        font-size: 52px;
    }
    
    .h5 {
        font-size: 28px;
    }

    .text{
        font-size: 14px;
    }

    .main{
        .h1{
            font-size: 64px;
        }
        .btn-wrapper{
            margin-top: 3rem;
        }
        .content{
            padding-top: 15%;
        }
    }

    .products{
        .h4 {
            font-size: 28px;
        }

        .product{
            padding: 3rem 0 5rem;
        }

        .product-slider ul {
            height: 580px;
        }
    }

    .choose{
        padding: 5rem 0 7rem;
        
        .content{
            max-width: 100%;
            margin: 0 auto;
        }

        .container{
            width: 1100px;
            max-width: 90%;
            margin: 0 auto;
            min-height: 650px;
            
            &::after{
                top: 50%;
                height: 45%;
            }
        }

        .choice-grid {
            margin-top: 4rem;
        }

        .choice {
            .h6{
                font-size: 20px;
                padding-top: 1.5rem;
            }
        }

        .img-wrapper{
            display: flex;
            align-items: center;
            height: 250px;

            img{
                max-height: 100%;
            }
        }

        .title{
            font-size: 20px;
        }
    }

    .certified{
        padding-top: 0;
        
         .title {
            font-size: 48px;
         }

         .container{
             padding-top: 10rem;
             padding-bottom: 10rem;
         }

         .uk-container{
            width: 100%;
         }

        .text{
            font-size: 16px;
            padding-left: 2rem;
            width: 440px;
        }

    }

    .collaborating{
        padding-top: 5rem;

        .uk-container{
            width: 100%;
        }
        .title {
            font-size: 36px;
        }
        .text {
            padding-top: 20%;
            padding-left: 4rem;
            font-size: 16px;
            max-width: 440px;
        }
    }

    .technology{
        .uk-container{
            width: 100%;
        }

        .technology-img{
            position: relative;
            top: -4rem;
            right: -18%;
        }

        .text{
            font-size: 16px;

            p{
                width: 400px;
            }
        }
    }

    .blog{
        .h5 {
            font-size: 24px;
        }

        .item {
            margin-bottom: 3rem;

            .post {
                max-width: 90%;
            }
        }
    }

    .underline{
        &:after {
            margin: 1.85rem 0;
        }
    }

    .testimonials{
        padding-bottom: 7rem;
    }

    .doctors{
        .subtitle{
            font-size: 15px;
            width: 670px;
            max-width: 100%;
        }

        &.testimonials{
            padding-bottom: 3rem;
            
            .uk-dotnav{
                margin-top: 0;
            }
        }
    }

    .navbar{
        .btn{
            font-size: 13px;
            padding: 1rem 1.5rem;
        }
        
        .uk-logo{
            max-width: 150px;
        }

        .uk-navbar-nav {
            & > li{
                & > a{
                    font-size: 1rem;
                }
            }
        }

        .nav-link {
            margin-right: 1.5rem;
            line-height: 1;
        }

        .icon{
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1440px) {
    .main {
        .subtitle{
            font-size: 18px;
        }

        .content {
            padding-top: 12%;
        }

        .video-wrapper{
            max-width: 520px;
        }

        .play{
            height: 70px;

            img{
                height: 100%;
            }
        }

        &::before{
            background-position-x: right;
        }
    }

    .h2 {
        font-size: 48px;
    }

    .about{
        padding: 0;
        
        .h4{
            font-size: 32px;
        }

        .container{
            padding-top: 3rem;
        }
    }

    .how-it-works{
        padding-top: 5rem;
        padding-bottom: 7rem;
        
        .item{
            &-title{
                font-size: 18px;
            }
            &-info{
                font-size: 16px;
            }
            &-wrapper{
                width: 320px;
            }
        }
    }

    .certified{
        .container{
            padding: 8rem 5rem 6rem;
        }

        .title{
            font-size: 46px;

            .h3{
                font-size: inherit;
            }
        }
    }

    .collaborating{
        .container{
            padding-top: 9rem;
            padding-bottom: 10rem;
        }
    }

    .products{
        .content {
            width: 320px;
        }

        .h4 {
            font-size: 24px;
        }

        .underline{
            &::after{
                margin: 1.25rem 0 1.5rem;
            }
        }

        .product-slider ul {
            height: 560px;
        }

        .img-wrapper{
            text-align: center;

            .play{
                height: 60px;
                width: 60px;
                right: -1.5rem;
            }
        }
        
        .product-img{
            height: 320px;
            width: auto;
        }
    }

    .testimonials{
        .slider{
            margin-top: 2rem;
        }
    }
    
    .technology{
        padding: 10rem 0;

        .uk-container{
            width: 90%;
        }
    }

    .footer{
        .uk-container {
            width: 95%;
        }

        .logo{
            width: 240px;
            max-width: 100%;
        }

        .uk-grid{
            margin: 0 auto;

            &>*{
                padding-left: 0;
            }
        }

        .nav-container{
            padding: 0 1rem;
        }
        
        .subtitle {
            font-size: 20px;
        }

        .social{
            width: 180px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .social-link{
            margin-right: 0;
        }
        
        &-nav{
            width: 200px;
            max-width: 100%;
            margin: 0 auto;

            &:first-child{
                display: none;
            }

        }
    }
}

@media screen and (max-width: 1199px) {
    .h5{
        font-size: 26px;
    }

    .h2{
        font-size: 44px;
    }

    .main{
        .subtitle{
            font-size: 16px;
            font-weight: normal;
        }

        .h1 {
            font-size: 48px;
        }
    }
    
    .uk-container{
        width: 95%;
        max-width: 100%;
        margin: 0 auto;
    }

    .section{
        min-height: 700px;
    }

    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        
        .btn{
            display: none;
        }
    }

    .main{
        .h1{
            font-size: 56px;
        }
        
        .uk-container{
            width: 85%;
        }

        .logo{
            max-width: 300px;
        }
        .subtitle{
            font-size: 16px;
            width: 380px;
        }
        .btn-wrapper {
            margin-top: 2rem;
        }
        .video-wrapper {
            margin-top: 3rem;
        }
    }

    .how-it-works{
        padding-bottom: 7rem;
        
        .item{
            &-title{
                font-size: 16px;
            }
            &-info{
                font-size: 14px;
            }
            &-wrapper{
                width: 260px;
            }
        }
    }

    .testimonials{
        .h2{
            font-size: 48px;
        }
        .subtitle{
            font-size: 20px;
            margin-top: 1rem;
            opacity: 1;

            &::before{
                margin-right: 2.5rem;
            }
        }
    }

    .certified{
        padding-bottom: 5rem;
        
        .container{
            padding: 6rem 3rem;
            max-width: 94%;
        }

        .uk-grid {
            margin-left: 0;
        }

        .view-results{
            margin-top: 2rem;
            width: 100%;
        }

        .title{
            max-width: 500px;

            .h3{
                font-size: inherit;
            }
        }
        
        .text{
            font-size: 14px;
            width: 100%;
            padding-top: 0;
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: start;

            p{
                width: 380px;
                margin-top: 0;
                
                &:first-child{
                    margin-right: 5rem;
                }
            }
        }
    }

    .btn-wrapper{
        margin-top: 2rem;
    }

    .btn-primary{
        font-size: 14px;
        line-height: 1;
        padding: 1rem 1.5rem;
    }

    .btn-link{
        font-size: 14px;
    }

    .play-video{
        font-size: 15px;
    }
    
    .choose{
        min-height: auto;
        padding: 5rem 0 2rem;

        .container{
            &::after{
                top: 40%;
            }
        }

        .polygon{
            display: none;
        }

        .content{
            max-width: 100%;
        }

        .img-wrapper {
            height: 220px;
        }

        .choice{
            .h6{
                font-size: 18px;
                padding-top: 1rem;
            }
        }

        .choice-grid {
            margin-top: 2.5rem;
        }
    }

    .products{
        .product{
            padding: 5rem 0;
        }
    }

    .collaborating{
        padding-bottom: 4rem;

        .container{
            padding: 8rem 5rem;
            min-height: 500px;
        }
        
       .title {
            font-size: 28px;
        }
    }

    .doctors{
        padding-bottom: 3rem;

        .uk-dotnav{
            margin-top: 0;
        }
        
        .grid{
            margin-top: 3rem;
        }
        
        .name{
            font-size: 16px;
            margin-bottom: 0;
        }
        
        .info{
            font-size: 14px;
            display: block;

            &::before{
                width: 40px;
                margin: .75rem 0;
            }
        }

        .uk-grid {
            margin-left: -30px;
        }

        .more{
            font-size: 14px;
        }
    }

    .blog{
        .uk-grid {
            margin-left: -30px;
        }
        .title{
            position: relative;
            top: 4rem;
        }
    }
}

@media screen and (max-width: 1099px) {
    .h5{
        font-size: 26px;
    }

    .h2 {
        font-size: 38px;
    }
    
    .main{
        height: auto;
        background-position-x: 58%;
        
        .h1 {
            font-size: 36px;
        }

        .logo {
            max-width: 200px;
        }

        .content{
            max-width: 100%;
            padding-top: 10rem;
            padding-bottom: 4rem;
        }

        .subtitle{
            max-width: 320px;
        }

        .video-wrapper {
            width: 320px;
            margin-top: 3rem;
        }

        .play{
            height: 60px;
            width: 60px;
        }

        .btn-wrapper {
            margin-top: 2rem;
        }
    }

    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        
        .btn{
            display: none;
        }
    }

    .testimonials{
        .subtitle{
            margin-top: 1rem;
            opacity: 1;

            &::before{
                width: 80px;
                margin-right: 2.5rem;
            }
        }
    }

    .certified{
        .container{
            padding: 7rem 1rem 7rem 0;
        }
    }

    .collaborating{
        padding-bottom: 4rem;

        .container{
            padding: 8rem 2rem;
            min-height: 500px;
        }
        
       .title {
            font-size: 28px;
        }
    }

    .products{
        &::after{
            height: 4rem;
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1400px) {
    .how-it-works{
        .item{
            transform: scale(.9);
            padding-left: 4rem;
        }

        .grid{
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media screen and (max-width: 959px) {
    .main{
        &::before{
            background-size: contain;
        }
    }

    .icon-play{
        &-lg{
            transform: scale(.8);
        }
    }

    .about{
        .img{
            display: none;
        }
        
        .img-mobile{
            display: block;
        }
 
        .container{
            max-width: 100%;
        }

        .list-wrapper{
            display: block;
            width: 330px;
            max-width: 90%;
            padding-top: 2rem;
            margin: 0 auto;
        }

        .img-mobile{
            max-width: 180px;
        }
    }

    .navbar.dark .navbar-container{
        padding: 0 1rem;
    }
    
    .navbar{
        .uk-logo {
            max-width: 130px;
        }
        .uk-navbar-nav {
            & > li{
                & > a{
                    font-size: 15px;
                    padding: 0 10px;
                }
            }
        }
        .navbar-container{
            display: flex;
            justify-content: space-between;
        }
        .uk-navbar-center:not(:only-child) {
            position: initial;
            transform: none;
        }
        .uk-navbar-right{
            margin-left: 0;
        }
    }

    .h2{
        font-size: 36px;
    }

    .how-it-works{
        padding: 4rem 0;
        min-height: 600px;

        &.smoke{
            &::after{
                z-index: 1;
            }
        }

        .item-wrapper{
            width: 300px;
            max-width: 100%;
        }
        
        .item {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            padding-left: 0;

            &-title{
                &::before{
                    content: none;
                }
            }

            &-img{
                transform: scale(.8);
                margin-bottom: 0;
            }
            &-content{
                margin: 0;
            }

            &-title {
                font-size: 16px;
                letter-spacing: .1em;
            }
            
            &-info {
                font-size: 14px;
                margin-top: 10px;
            }
        }

        .uk-slideshow-items{
            z-index: 5;
        }

        .grid{
            display: none;
        }

        .slider{
            display: block;
            position: relative;
            z-index: 5;
            
            &-items{
                height: 470px;
            }
            
            li{
                height: inherit;
            }
        }
    }

    .choose{
        padding: 5rem 0;
        
        .choice-grid{
            justify-content: center;
        }
        
        .choice{
            margin-bottom: 3rem;
        }
        
        .container{
            min-height: initial;

            &::after{
                display: none;
            }
        }
    }

    .products{
        .img-wrapper{
            height: auto;
        }

        &::after {
            content: none;
        }

        .product{
            position: relative;
            
            &::after{
                content: "";
                background: url('../images/main/arrows.svg') no-repeat center center;
                background-size: contain;
                height: 6rem;
                transform: rotate(90deg);
                display: block;
                position: absolute;
                bottom: -3rem;
                right: 0;
                left: 0;
                margin: auto;
                z-index: 4;
            }

            &:last-child{
                &::after{
                    content: none;
                }
            }
        }
    }

    .testimonials{
        .slider{
            .uk-slider-items{
                padding: 0;
            }
        }
    }

    .technology{
        padding: 5rem 0;

        .text{
            display: block;
            
            p{
                width: 100%;
                max-width: 100%;
                margin: 0 0 1rem;
            }
        }

        .technology-img{
            max-width: 90%;
            top: 0;
            right: 0;
            left: 0;
            margin: 0 auto 3rem;
        }

        .content{
            max-width: 90%;
            margin: 0 auto;
        }
        
    }

    .certified{
        .title{
            font-size: 42px;
        }
        .container{
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .text{
            display: block;

            p{
                width: 100%;
                
                &:first-child{
                    margin-right: 0;
                }
            }
        }
    }

    .collaborating{
        padding: 0;
        min-height: auto;

        .title{
            width: 400px;
            max-width: 100%;
            padding: 0 0 1rem;
            margin: 0 auto;
            
            &-container{
                padding-left: 0;
            }
        }
        
        
        .text{
            width: 400px;
            padding-left: 0;
            padding-top: 0;
        }

        .uk-grid{
            justify-content: center;
        }
    }

    .certified{
        min-height: initial;
        padding-bottom: 7rem;

        .container{
            min-height: initial;
        }
        
        .text{
            padding-top: 1rem;
            padding-left: 5rem;
            width: 100%;
        }

        .uk-container{
            width: 500px;
            max-width: 90%;

            .text{
                padding-left: 0;
            }
        }
    }

    .blog {
        padding-top: 5rem;
        
        .title{
            top: 0;
            margin-bottom: 4rem;
            text-align: center;

            &:after{
                margin: 1.5rem auto;
            }
        }

        .item{
            margin:  0 auto;
            width: 500px;
            max-width: 100%;

            .post{
                max-width: 100%;
            }
            
            &:first-child {
                margin-top: 1rem;
            }

            &:not(:first-child){
                display: none;
            }
        }
    }
    
    .footer{
        .copyright{
            .content{
                display: block;
            }
        }
        .content{
            width: 320px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .uk-grid{
            &>*{
                margin-bottom: 2rem;
            }
        }

        .logo-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo{
            margin-bottom: 2rem;
        }

        .social{
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 767px) {
     .icon-play{
        &-lg{
            transform: scale(.5);
        }
    }
}

@media screen and (max-width: 739px) {
    .mobile-toggle{
        display: block;
    }
    
    .hidden-m{
        display: none;
    }

    .navbar{
        .uk-logo {
            max-width: 125px;
        }
        .nav-link{
            margin-right: 5px;
            
            
            &:first-child{
                margin-right: 1rem;
            }
        }
    }


    .bg-smoke{
        display: none;
    }

    .certified{
        .uk-grid {
            margin-left: -30px;
        }
    }

    .testimonials {
        .slider{
            .author{
                font-size: 18px;
                margin-bottom: 1.5rem;
                
                &::after{
                    width: 50px;
                    margin: 1rem 0 0;

                }
            }

            .quote{
                p{
                    font-size: 15px;
                }
            }

            .video-cover{
                .video-play{
                    padding: 0;
                }
            }
        }
    }

    .doctors{
        &.testimonials{
            padding-top: 0rem;
        }
        
        .description{
            width: 520px;
            max-width: 100%;
        }

        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .video-cover{
            img{
                display: block;
                width: 70%;
                margin: 0 auto;
            }
        }

        .slider {
            .author{
                text-align: center;
                
                &::after{
                    margin: 1rem auto;
                }
            }
        }

        .more{
            margin-top: 1rem;
            text-align: center;
        }

        .uk-dotnav{
            margin-top: 0;
            margin-bottom: 3rem;
        }
    }

    .footer{
        .link{
            margin-left: 1.5rem;
        }
    }
}

@media screen and (max-width: 639px) {
    .main{
        &::before{
            background-image: url('../images/main/filter.png');
            background-position: center 10%;
            background-size: 70%;
        }

        .content{
            padding-top: 40vh;
        }
    }

    .play-btn {
        &-lg{
            .icon-play{
                height: 50px;
                width: 50px;
                line-height: 50px;
            } 
        }
    }

    .about{
        .h4{
            font-size: 28px;
        }
        
        .list-wrapper{
            display: block;
            width: 330px;
            max-width: 90%;
            padding-top: 2rem;
            margin: 0 auto;
        }

        .img-mobile{
            max-width: 180px;
        }
    }
    
    .products{
        .product{
            padding: 3rem 0 6rem;

            &-img{
                height: auto;
                max-width: 90%;
            }
            &-slider{
                ul {
                    height: 450px;
                }
            }
        }

        .img-wrapper{
            .play{
                border-radius: 50%;
                overflow-x: hidden;
                background: $color-white;
                right: 0;
                bottom: 0;
            }
        }
    }
    
    .how-it-works{
        .overlay{
            display: none;
        }

        .logo{
            img{
                height: 20px;
                margin-bottom: 1rem;
            }
        }

        .item{
            text-align: center;
        }
    }

    .choose{
        padding-top: 5rem;
        background: $color-text;

        .choice{  
            .img-wrapper{
                overflow: hidden;
            }

            .h6 {
                font-size: 15px;
                font-weight: 600;
                max-width: 100%;
            }
        }

        .title{
            p{
                font-size: 1rem;
            }
        }

        .content{
            width: 380px;
            max-width: 100%;
            margin: 0 auto;
        }

        .polygon{
            display: none;
        }

        &::after,
        &:before{
            content: none;
        }

        .img-wrapper{
            height: auto;
        }
    }

    .doctors{
        .grid{
            width: 380px;
            max-width: 100%;
            margin: 3rem auto 0;
        }

        .item{
            padding: 0;
            text-align: center;

            .img{
                max-width: 70%;
            }
        }
    }

    .certified{
        padding-bottom: 4rem;
        
        .container{
            background-size: auto 120%;
            background-position: bottom right;
            padding-top: 5rem;
        }

        .title{
            font-size: 36px;
        }
    }

    .collaborating{
        .title {
            font-size: 24px;
        }        

        .container{
            background-position: bottom right;
            background-size: auto 120%;
            max-width: 100%;
            padding: 5rem 3rem;
        }
    }

    .testimonials{
        padding: 4rem 0 3rem;

        .slider{
            margin: 2rem auto 0;
            max-width: 90%;
        }

        .title{
            font-size: 36px;
            margin-bottom: 1rem;
        }

        .heading{
            text-align: center;
        }

        .subtitle{
            font-size: 18px;
            text-align: center;
            width: 100%;
            display: block;
            margin: 0 auto;

            &::before{
                content: none;
            }
        }

        .uk-dotnav{
            margin-top: 2rem;
        }
    }

    .blog{
        padding-bottom: 5rem;

        .title{
            top: 0;
        }
    }

    .footer{
        .copyright{
            display: none;
        }
    }
}

@media screen and (max-width: 520px) {
    .h2{
        font-size: 28px;
    }

    .play-video span{
        margin-right: .5rem;
    }

    .about{
        .list{
            margin-bottom: -1rem;
            
            li{
                font-size: 12px;
            }
        }
    }

    .products{
        .h4{
            font-size: 24px;
        }
    }

    .blog{
        .h5 {
            font-size: 18px;
            line-height: 1.4;
        }

        .title{
            margin-bottom: 3rem;

            &:after{
                content: none;
            }
        }

        .item{
            margin-bottom: 3rem;
            
            .post-title{
                margin-top: 1rem;
            }
        }
    }
    
    .section{
        min-height: auto;
    }

    .main{
        .h1{
            font-size: 28px;
        }

        .logo {
            max-width: 180px;
        }
        
        .container{
            min-height: 100vh;
        }
        .subtitle{
            font-size: 14px;
            padding-left: 0;
            margin-left: 0;
        }

        .btn-wrapper{
            margin: 2rem 0 0;

            .btn:first-child{
                margin-right: 1.5rem;
            }
        }

        .btn{
            font-size: 12px;
        }
    }

    .testimonials{
        padding: 3rem 0;

        .slider{
            .uk-slider-items{
                padding: 0 1rem;
            }
        }
    }

    .certified{
        .title{
            font-size: 28px;
        }

        .underline{
            &::after{
                margin-top: 1.5rem;
            }
        }

        .container{
            padding: 3rem 1rem;
            max-width: 100%;
        }
        
        .uk-container{
            max-width: 90%;
        }

        .view-results{
            .icon{
                width: 3rem;
            }
        }

        svg{
            width: 4rem;
        }
    }

    .collaborating{
        .uk-grid{
            margin: 0;
        }

        .container{
            padding: 7rem 1.5rem;
        }
    } 

    .doctors{
        margin-bottom: 0;
        
        .name{
            margin: 1rem 0;
        }

        .item{
            margin-bottom: 2rem;
        }

        .info{
            font-size: 14px;
            padding: 0;
            
            &::before{
                content: none;
            }
        }
    }

    .underline{
        &:after{
            width: 60px;
            margin: 1rem 0;
        }
    }

    .btn-white{
        padding: 1rem 1.5rem;
    }

    .btn-link{
        font-size: 12px;
    }
}