.products-page{
  &:after{
    content: none;
  }

  &.products{
    .product:after{
      content: none;
    }
    
    .product-img{
      height: auto;
    }
   }

  .h4{
    font-size: 32px;
  }

  .system{
    background-color: $color-primary;
    color: $color-white;

    .underline{
      &::after{
        background-color: $color-white;
      }
    }
  }
}

@media screen and (max-width: 1439px){
  .products-page.products{
    .img-wrapper{
      height: 320px;
    }
    .h4{
      font-size: 22px;
    }
    p{
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 639px){
  .products-page.products{
    .product {
      padding: 3rem 0;
    }
  }
}