.product-page{
  min-height: 800px;
  background: $color-white;
  padding: 3rem 0 8rem;

  .product-img{
    text-align: center;
    
    img{
        max-height: 100%;
    }
  }
  
  .slide-wrapper{
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
  }

  .product-slider{
    &-items{
      min-height: 50vh !important;
      
      & > * {
        padding-left: 5rem;
      }
    }

    .uk-thumbnav{
      margin-top: 3rem;
      flex-direction: column;

      img{
        height: auto;
        width: 5rem;
      }

      &>*{
        margin-bottom: 1rem;
      }
    }
  }

  .title{
    margin-bottom: 2rem;
  }
  
  .container{
    margin: 3rem auto 4rem;
  }

  .content{
    width: 520px;
    max-width: 100%;

    .btn{
      width: 100%;
    }
  }

  .row{
    margin-bottom: 2rem;
  }

  .price{
    color: $color-primary;
    font-size: 36px;
    font-weight: 600;
  }

  .terms{
    .icon{
      color: $color-primary;
      font-weight: 500;
      font-size: 2rem;
      margin-right: 10px;
    }

    .item{
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .subtitle{
    text-align: center;
    margin-bottom: 3rem;
  }

  .cards{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .card{
    margin-bottom: 2rem;
    
    &-wrapper{
      border: 1px solid rgba($color-bg, .2);
      padding: 1rem 3rem 2rem 3rem;

    }

    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title{
      font-size: 20px;
      line-height: 2;
      font-weight: 600;
    }

    .price{
      font-size: 24px;
      line-height: 1.7;
    }

    .buy{
      width: 100%;
      text-align: center;
      margin-top: 2rem;
    }
  }

  .btn{
    padding: 1rem 2rem;
    font-size: 14px;
  }

  .btn-wrapper{
    display: flex;
    margin-bottom: 1.5rem;

    .btn{
      padding: 1rem 2rem;
      font-size: 14px;
      border-radius: 30px;
      
      &:first-child{
        margin-right: 1rem;
      }
    }
  }

  .box{
    padding: 1rem;
    border: 1px solid rgba($color-bg, .1);
    text-align: center;
    cursor: pointer;
    transition: border-color .5s;

    &:hover{
      border-color: $color-bg;
    }
    
    &.active{
      border-color: $color-primary;

      .box-title{
        color: $color-primary;
      }
    }

    p{
      font-size: 13px;
      margin: 0;
    }

    &-title{
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all .5s;
    }

    .price{
      font-size: 28px;
      line-height: 1.6;
    }
  }
}

.select{  
  position: relative;
  
  select{
    background: transparent;
    height: 60px;
    border-radius: 30px;
    padding: 0 2rem;
    width: 100%;
    display: block;
    outline: none !important;
    border: 1px solid rgba($color-bg, .2);
    font: 600 1rem/60px $font-main;
  }

  &:after{
    content: "\e909";
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    margin: auto;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 60px;
    color: rgba($color-bg, .5);
    text-align: center;
    line-height: 50px;
    z-index: 3;
  }
}

.coming-soon{
  .uk-modal-body{
    padding: 3rem;
  }
  
  .subtitle{
    display: block;
    max-width: 85%;
    margin: 0 auto 2rem;
    font-size: 18px;
  }
  
  .form{
    width: 400px;
    max-width: 100%;
    margin: 1rem auto;
  }
}

.payments{
  .boxes{
    align-items: stretch;

    .box-title{
      letter-spacing: 0;
    }
  }

  .box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    &.active{
      border-width: 3px;
      
      .price{
        font-size: 38px;
      }
    }
  }
  
  .devider{
    font-weight: 600;
    text-align: center;
    padding: .5rem;
    opacity: .5;
  }
}

@media screen and (max-width: 1440px) {
  .payments{
    .box{
      padding: 12px;
      
      p{
        font-size: 12px;
      }

      .price{
        font-size: 24px;
      }
      
      &.active{
        border-width: 2px;
        
        .price{
          font-size: 32px;
        }
      }
    }

  }

  .product-page{
    padding: 3rem 0 2rem;

    .h4 {
      font-size: 36px;
    }
    
    .card-wrapper{
      padding: 1.5rem;
    }
  }
}

@media screen and (max-width: 1199px) {
  .product-page .btn-wrapper .btn {
    padding: 1rem .5rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 959px) {
  .product-page{
    padding-bottom: 10rem;

    .btn-wrapper{
      .btn{
        padding: 1rem .5rem;
        font-size: 13px;
        letter-spacing: 0;
      }
    }
    
    .h4 {
      font-size: 28px;
    }

    .boxes{
      .box{
        &.active{
          border-width: 2px;
        }
      }
    }

    .box{
      padding: .5rem .25rem;

      p{
        font-size: 13px;
        margin-bottom: 0;
      }

      .price{
        font-size: 22px;
      }
    }

    .card-info{
      align-items: flex-start;
    }

    .select{
      height: 54px;
      border-radius: 30px;
      padding: 0;

      select{
        height: inherit;
        padding: 0 1rem;
      }

      &::after{
        top: 1px;
        height: 46px;
      }
    }

    .row{
      margin-bottom: 1.5rem;
    }

    .cards{
      justify-content: center;
    }
    
    .card{
      padding: 0 1rem;

      .buy{
        margin-top: 1rem;
      }

      .price{
        font-size: 20px;
        line-height: 2;
      }
      
      &-wrapper{
        padding: 1.5rem;
      }
    }

    .uk-container{
      max-width: 640px;
      margin: 2rem auto;
    }

    .product-details{
      width: 480px;
      max-width: 100%;
      margin: 0 auto;
    }

    .product-img{
      padding: 1rem;
      
      img{
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }

    .product-slider {
      &-items{
        min-height: 16rem !important;

        &>*{
          padding-left: 3rem;
        }
      }


      .uk-thumbnav{
        margin-top: 1rem;
        padding: 0 1rem;

        img{
          width: 3rem;
        }
      }
    }
  }  
}

@media screen and (max-width: 639px) {
  .coming-soon{
    .h4{
      font-size: 28px;
      margin-bottom: .75rem;
    }
    .uk-modal-body{
      padding: 2.5rem 2rem;
    }
    .subtitle{
      font-size: 15px;
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  .payments{
    .boxes{
      .box-title{
        font-size: 11px;
      }
    }
  }
  
  .payments .boxes .box.active .price{
    font-size: 28px;
    margin-bottom: 0;
  }

  .product-page{
    padding: 1rem 0 10rem;    

    .subtitle {
      margin-bottom: 1.5rem;
    }

    .terms{
      margin-top: 1rem;

      .item{
        font-size: 16px;
      }
    }

    .title {
      margin-bottom: 1rem;
    }

    .wrapper{
      p{
        font-size: 14px;
      }
    }

    .box{
      p{
        font-size: 12px;
      }

      .text{
        span{
          display: block;
        }
      }
    }

    .uk-container {
      width: 400px;
      max-width: 100%;
    }
    
    .card{
      padding: 0;
    }

    .select{
      height: 48px;
    }

    .price{
      font-size: 28px;
    }

    .h5{
      font-size: 20px;
    }

    .h6{
      font-size: 16px;
      margin-bottom: 10px;
    }

    .row{
      margin-bottom: 20px;
    }
  }

  .product-page .uk-container.intro{
    margin-bottom: 0;
  }
}



// Product V2
.slider-wrapper{
  margin-bottom: 5rem;
  padding-left: 8rem;

  .slider{
    height: 480px;
  }
}

.product-slide{
  position: relative;
  height: 480px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .img{
    position: absolute;
    left: auto;
    right: auto;
    top: 0; bottom: 0;
    margin: 0 auto;
    display: block;
    min-height: 100%;
    // min-width: 100%;
    height: 100%;
    width: auto;
    max-width: initial;
  }
}

