// Font
$font-main: 'Gilroy', sans-serif;
$font-icon: 'icomoon';


//==== Colors ====

// Colors Text
$color-white: #FFFFFF;
$color-primary: #1660FE;
$color-blue: #1C6CE8;
$color-border: #BAC9FF;
$color-bg: #001124; //#000;
$color-text: #000E19;
$color-dark: #000E19;
$color-footer: #0D1A24;




$color-title: #0D1317;



// not used
$color-nav: #394149;
$color-input-text: #9C9C9C;
$color-input-bg: #F7F9FC;
$color-overlay-bg: #252525;
$color-primary-hover: #FEF3E6;
$color-secondary: #063255;
$color-secondary-hover: rgba($color-secondary, .7);
$color-light: #DCEAF5;
$color-lighter: #EDF7FF;
$color-disabled-text: #F5F6FD;
$color-disabled-bg: #E5E8FE;



