
/************* Hands ********************/
.hands .svg-elem-1,
.hands .svg-elem-2 {
  stroke-dashoffset: 1127px;
  stroke-dasharray: 1127px;
  transition: stroke-dashoffset 3s ease-in 0.2s;
  -webkit-animation: hands 3s infinite;
          animation: hands 3s infinite;
}


@-webkit-keyframes hands {
  0% {
    stroke-dashoffset: 1127px;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1127px;
  }
}


@keyframes hands {
  0% {
    stroke-dashoffset: 1127px;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1127px;
  }
}